*{
  color: #151616;
  font: 1.3rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #03506e;
}

body {
  padding-inline: clamp(1rem, calc(1rem + 8vw), 10%);
  background-color: rgba(188, 188, 188, 0.531);
  
}


form{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

input{
  width: 100%;
  padding-inline: 1rem;
  padding-block: .5rem;
  border: solid 1px white;
  border-radius: 4px;
}

input[type=submit]{
  background-color: rgb(74, 242, 74);
  font-weight: 500;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
}

