*{
  color: hsl(180, 2%, 8%);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
}

a {
  color: #03506e;
}

aside{
  position: fixed;
  left: 0;
  width: 230px;
  background: #000;
  height: 100vh;
}
body {
  padding-inline: clamp(1rem, calc(1rem + 8vw), 10%);
  background-color: rgba(188, 188, 188, 0.531);
  margin-inline-start: 150px;
  padding-block-end: 15vh;
}

.delete-btn{
  background-color: red;
  color: white;
  font-weight: 500;
  border: solid 2px white;
  border-radius: 4px;
  padding-inline: 1rem;
  padding-block: .4rem;
}

form{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}
h2{
  font-weight: 300;
}
input, textarea{
  width: 100%;
  padding-inline: 1rem;
  padding-block: .5rem;
  border: solid 1px white;
  border-radius: 4px;
}

input[type=submit]{
  background-color: rgb(74, 242, 74);
  font-weight: 500;
}
footer p{
  margin: auto;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-block: 1rem;
  background-color: #000;
  color: white;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}


