<aside>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if(user) { %>
                <li><a href="/club-house/post">Create Post</a></li>
                <%if(user.isAdmin){%>
                    <li><a href="/club-house/members">members</a></li>
                    <li><a href="/admin/member-pass">Set Passcode</a></li>
                <%}%>
                <p style="color: green;">Welcome <%=user.first_name%></p>
                <li>
                    <a style="color: red;" href="/accounts/logout">
                    Log out
                    </a>
                </li>
            <%} else {%>
            <li><a href="/accounts/login">login</a></li>
            <li><a href="/accounts/sign-up">Sign up</a></li>
            <%}%>
        </ul>
    </nav>
</aside>