<aside>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/club-house/members">members</a></li>
            <li><a href="/accounts/login">login</a></li>
            <li><a href="/accounts/sign-up">Sign up</a></li>
        </ul>
    </nav>
</aside>