<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <form action="" method="post">
            <h1>Sign in.</h1>
            <div>
                <label for="username">
                    Username
                    <input 
                        placeholder="username" 
                        name="username" 
                        id="username" 
                        minlength="2" 
                        maxlength="100" 
                        required 
                        type="text"
                    >
                </label>
            </div>
            <div>
                <label for="password">
                    Password
                    <input 
                        placeholder="password" 
                        name="password" 
                        id="password" 
                        minlength="8" 
                        maxlength="24" 
                        required 
                        type="password"
                    >
                </label>
            </div>
            <!-- <input type="text" name="test"> -->
           <div><input type="submit" value="Log in"></div>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
</html>