<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <form action="" method="post" novalidate>
            <h1>Sign in.</h1>
            <div class="username">
                <label for="username">
                    Username
                    <input 
                        placeholder="username" 
                        name="username" 
                        id="username" 
                        minlength="2"
                        maxlength="20"
                        required 
                        type="text"
                        pattern="[A-Za-z]+[A-Za-z0-9]*"
                    >
                </label>
                <p class="error"></p>
            </div>
            <div class="password">
                <label for="password">
                    Password
                    <input 
                        placeholder="password" 
                        name="password" 
                        id="password" 
                        minlength="8" 
                        maxlength="24" 
                        required 
                        type="password"
                        pattern="[A-Za-z0-9]+"
                    >
                </label>
                <p class="error"></p>
            </div>
            <!-- <input type="text" name="test"> -->
           <div><input type="submit" value="Log in"></div>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
<script src="/scripts/login.js"></script>
</html>