<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs') %>
    <h1>Ooops! The page you are looking for is unvailable.</h1>    
    <%-include('./partials/footer.ejs') %>
</body>
</html>