<%-include('./partials/head.ejs') %>
<body>
    <%-include('./partials/nav.ejs') %>
    <h1 style="color: red;">
        Your are not authorized to view this page. This is members only content.
    </h1>
    <a href=""><button class="membership-btn">Register for Membership</button></a>
    
    <%-include('./partials/footer.ejs') %>

</body>
</html>