<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <h1>Join Da Club</h1>
    <form action="" method="post">
        <div>
            <label for="mem-code">
                Membership Passcode
                <input 
                    type="text" 
                    name="code" 
                    id="mem-code" 
                    minlength="12"
                    maxlength="18"
                    placeholder="secrete code eg. lovelace"
                >
            </label>
        </div>
        <div>
            <input type="submit" value="Join">
        </div>
    </form>
    <%-include('../partials/footer.ejs') %>
</body>
</html>