<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <h1><%=title %></h1>
    <form action="" method="post" novalidate>
        <div>
            <label for="mem-code">
                Membership Passcode
                <input 
                    type="text" 
                    name="code" 
                    id="mem-code" 
                    minlength="8"
                    maxlength="24"
                    placeholder="Secrete code eg. lovelace"
                    required
                    pattern="[A-Za-z\s?]+"
                >
            </label>
            <p class="error"></p>
        </div>
        <div>
            <input type="submit" value="Set Code">
        </div>
    </form>
    <%-include('../partials/footer.ejs') %>
</body>
<script src="/scripts/membership.js"></script>
</html>