<%-include('../partials/head.ejs') %>
<body>
    <%-include('../partials/nav.ejs') %>
    <main>
        <form action="" method="post" novalidate>
            <h1>Write Post</h1>
            <div class="title">
                <label for="title">
                    Title
                    <input 
                        placeholder="Title" 
                        name="title" 
                        id="title" 
                        minlength="4" 
                        maxlength="200" 
                        required 
                        type="text"
                        pattern="[\w\s]+"
                    >
                </label>
                <p class="error"></p>
            </div>
            <div class="message">
                <label for="message">
                    Message
                    <textarea 
                        name="message" 
                        id="message" 
                        cols="30" 
                        rows="10"
                        required
                        minlength="50"
                        maxlength="300"
                        pattern = "[\w\s]+"
                    ></textarea>
                </label>
                <p class="error"></p>
            </div>
            <!-- <input type="text" name="test"> -->
           <div><input type="submit" value="Post"></div>
        </form>
    </main>
    <%-include('../partials/footer.ejs') %>
</body>
<script src="/scripts/post.js"></script>
</html>